/*** REINICIO DE PROPIEDADES ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** CUERPO ***/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #333;
    background-image: url(images/garage_floor.jpg);
    font-family: "Asap Condensed", serif;
    color: #fff;
}

/** CABECERA **/

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #111;
    border-bottom: 1px solid rgb(236, 7, 3);
}

.active {
    outline: 1px solid rgb(236, 7, 3);
}

header h1 {
    margin-left: 1%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    list-style: none;
    outline: transparent;
}

nav ul li:hover {
    transition: outline 0.5s ease-in-out;
    outline: 1px solid rgb(236, 7, 3);
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/** CONTENIDO **/

#banner {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#banner img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(68,68,68,1) 100%);
    gap: 5%;
    width: 50%;
    height: 90%;
    border: 1px rgb(236, 7, 3) solid;
    box-shadow: 20px 20px 50px rgb(236, 7, 3);
    overflow-y: auto;
}

form label {
    font-size: larger;
}

form input, select, button {
    width: 25%;
    padding: 1%;
}

#prediction {
    background-color: #ffffff;
    color: #000;
    border: 1px solid rgb(143, 143, 157);
    min-height: 38px;
    height: 38px;
    width: 25%;
    padding: 1%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#button-ok {
    padding: 1%;
    width: 25%;
}

/*** MEDIA QUERY ***/

@media screen and (width <= 950px) and (orientation: portrait) {
    header {
        justify-content: center;
    }
    header h1 {
        display: none;
        visibility: hidden;
    }
    nav ul {
        justify-content: center;
    }
    #banner {
        width: 100%;
        height: 100vh;
    }
    #banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20% 75%; /* si se cambia la foto de portada */
    }
    form {
        width: 90%;
        box-shadow: none;
    }
    form input, select, button, #prediction {
        width: 25vh;
        max-width: 95%;
        font-size: 125%;
    }
    form label {
        font-size: 125%;
    }
}
